*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // setting 1rem = 10px (based on 16px default)
    font-size: 62.5%;
}

body {
    padding: 3rem;
    box-sizing: border-box;
}